{% for entry in links %}
{% if entry.type == "full" and pages | get(key=entry.page | trim_start_matches(pat="/")) %}
{% set pageentry = pages | get(key=entry.page | trim_start_matches(pat="/")) %}
<a class="pagebutton {% if pageentry.theme %}section-{{ pageentry.theme }}{% endif %}" href="{{ entry.page }}">
    <span class="pagebutton-title">{{ pageentry.title }}</span>
    <span class="pagebutton-desc">{{ pageentry.desc|safe }}</span>
    <span class="pagebutton-date">{% if pageentry.startdate %}{{ pageentry.startdate }}{% if pageentry.enddate %} - {{ pageentry.enddate }}{% endif %}{% endif %}</span>
    {% if pageentry.icon %}
    <img class="pagebutton-img" src="{{ pageentry.icon }}" {% if pageentry.icontitle %} title="{{ pageentry.icontitle }}"{% endif %}>
    {% endif %}
</a>
{% elif entry.type == "fullcustom" %}
<a class="pagebutton {% if entry.theme %}section-{{ entry.theme }}{% endif %}" href="{{ entry.link }}">
    <span class="pagebutton-title">{{ entry.title }}</span>
    <span class="pagebutton-desc">{{ entry.desc|safe }}</span>
    <span class="pagebutton-date">{% if entry.startdate %}{{ entry.startdate }}{% if entry.enddate %} - {{ entry.enddate }}{% endif %}{% endif %}</span>
    {% if entry.icon %}
    <img class="pagebutton-img" src="{{ entry.icon }}" {% if entry.icontitle %} title="{{ entry.icontitle }}"{% endif %}>
    {% endif %}
</a>
{% elif entry.type == "titleonly" and pages | get(key=entry.page | trim_start_matches(pat="\\")) %}
{% set pageentry = pages | get(key=entry.page | trim_start_matches(pat="/")) %}
<a class="titlebutton {% if pageentry.theme %}section-{{ pageentry.theme }}{% endif %}" href="{{ pageentry.page }}">{{ pageentry.title }}</a>
{% elif entry.type == "titleonlycustom"%}
<a class="titlebutton {% if entry.theme %}section-{{ entry.theme }}{% endif %}" href="{{ entry.link }}">{{ entry.title }}</a>
{% endif %}
{% endfor %}